:root{
    --slight-blue: #bacdff;
    --medium-blue: #8a90e9;
    --main-blue: #1c15ed;
    --second-blue: #110f57;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(73, 117, 228);
    overflow-x: hidden;
}