body{
    font-size: 62.5%;
}


.releases-title {
    padding-left: 5em;
    width: 33em;
}

.realeses-img {
    box-shadow: 0 0 .4em rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
}

.realases-products {
    box-shadow: .3em .3em 2em rgba(0, 0, 0, 0.5);
    background-color: #ececec;
    padding: 2.6em 4.5em;
    border-radius: 3em;
    margin: 1.8em 0em;
    cursor: pointer;
    position: relative;
}

.realeses-type {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    opacity: 0.5;
    font-size: 1rem;
    padding: .35em 0;
    text-transform: uppercase;
}

.realeses-name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    padding: .35em 0;
}

.realeses-price {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    padding: .35em 0;
}

.realeses-installments {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #414dff;
    font-size: .89em;
    padding: .35em 0;
}

.add-icon, .remove-icon{
    background-color: #981313;
    width: 1.9em;
    height: 2.8rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 100%;
    text-align: center;
    padding: .1rem;
    right: 1.5rem;
    transition: all .3s;
}

.add-icon {
    background-color: #38e538;
    opacity: .8;
}

.remove-icon{
    background-color: #e92f2f;
    opacity: .8;
}


.add-icon:hover {
    opacity: 1;
}

.remove-icon:hover{
    opacity: 1;
}