:root{
    --slight-blue: #bacdff;
    --medium-blue: #414dff;
    --main-blue: #1c15ed;
    --second-blue: #110f57;
}

header{
    position: fixed;
    top: 0;
    right: 30px;
    font-family: system-ui;
    margin-top: 2rem;
}


.cart-icon{
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    transition: color .3s;
}

.cart-icon:hover{
    color: #1c15ed;
}

.counter{
    font-size: 1rem;
    font-weight: bolder;
    background-color: #1c15ed;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -10px;
    top: 10px;
}
