
*{
    font-family: system-ui;
}

aside{
    background-color: #fff;
    position: fixed;
    right: .6rem;
    top: 5rem;
    width: 18rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    border: solid 1px #000;
    padding: 1rem;

    
}

.x-icon{
    font-size: 1.3rem;
    margin-top: .4rem;
    position: absolute;
    right: .4rem;
    cursor: pointer;
}

h3{
    font-size: 1.3rem;
}

figure{
    padding: 0 1rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.price{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .7rem;
}

.product-title{
    font-size: 1rem;
    font-weight: 500;
}

.product-description{
    font-size: .7rem;
    margin-top: .3rem;
}